<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SendFS</title>
    </head>

    <body>
        <form enctype="multipart/form-data" method="post" name="fileinfo">
            <input type="file" id="myFile" name="uploadfile">
            <input type="submit">
        </form>
        <br>
        <div></div>

        <script>
            function getCookie(cname) {
                let name = cname + "=";
                let ca = document.cookie.split(';');
                for(let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) === ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) === 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            let form = document.forms.namedItem("fileinfo");
            form.addEventListener('submit', function(ev) {
                let oOutput = document.querySelector("div");
                let oData = new FormData(form);
                let oReq = new XMLHttpRequest();
                oReq.open("POST", "http://{{.GatewayURL}}/upload/{{.ContainerID}}", true);
                oReq.withCredentials = true;
                oReq.setRequestHeader("X-Attribute-Email", getCookie("X-Attribute-Email"));
                oReq.onload = function() {
                    if (oReq.status === 200) {
                        const resp = JSON.parse(oReq.response);
                        oOutput.innerHTML = '<a href="http://http.neofs.devenv/get/' + resp.container_id + '/' + resp.object_id + '">view file</a>';
                    } else {
                        oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
                    }
                };

                oReq.send(oData);
                ev.preventDefault();
            }, false);
        </script>
    </body>
</html>
